/* Fonts:
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Slab', serif;

    Color Theme:
     Dark: #4C4A59
     Low: #1B7F7A
     Mid: #0897B4
     High: #4CABA6
     Light: #F2CDAC
*/
body, html {
    margin: 0;
    padding: 0;
}

h1, h2, h3 {
    font-family: 'Roboto Slab', serif;
}

p, a, button, span {
    font-family: 'Roboto', sans-serif;
}

p {
    line-height: 1.5;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
}

#hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../img/hero-banner-mobile.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    filter: brightness(80%);
}

@media only screen and (min-width: 500px) {

    #hero::before {
        background: url(../img/hero-banner-large.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
}

#hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    max-width: 100%;
    color: #F2CDAC;
}

@media only screen and (min-width: 500px) {
    #hero-content {
        align-items: start;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        width: 40%;
    }
}

#hero-content h1 {
    margin: 0;
    font-size: 2.5rem;
}

#hero-content .intro {
    text-align: center;
    margin-top: 2rem;
    font-size: 1rem;
}

@media only screen and (min-width: 500px) {
    #hero-content .intro {
        margin-top: 0;
        text-align: left;
        font-size: 1.5rem;
    }
}

#hero-content span{
    font-weight: bold;
    font-size: 1.2rem;
}

@media only screen and (min-width: 500px) {
    #hero-content span {
        text-align: left;
        font-size: 1.8rem;
    }
}

#hero-content h1 > span {
    font-size: 2.8rem;
}

.intro-button {
    max-width: 10rem;
    padding: 1.2rem 1.5rem;
    background-color: #1B7F7A;
    color: #F2CDAC;
    text-decoration: none;
    text-align: center;
    font-size: 1.4rem;
    border-radius: 5px;
    border: 1px solid #000;
}

.intro-button:hover {
    box-shadow: 2px 2px 5px #000;
}

.intro-button:visited {
    color: #F2CDAC;
}

.container {
    margin: 2rem 8rem;
}

#nav {
    position: fixed;
    width: 100%;
    height: 2.3rem;
    padding: 0 20%;
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.8);
}

#nav ul {
    display: inline-block;
    list-style-type: none;
    margin: 0.6rem 0;
}

#nav a {
    color: #F2CDAC;
    text-decoration: none;
}

#nav a:hover {
    text-decoration: underline;
}

#nav a:visited {
    color: #F2CDAC;
}

#projects {
    display: flex;
    justify-content: center;
}

#projects > ul {
    width: 70%;
    padding: 0;
}

.project-tab {
    width: 100%;
    border: 1px solid #e6e6e6;
    border-bottom: 0;
    overflow: hidden;
}

.project-tab:last-of-type {
    border-bottom: 1px solid #e6e6e6;
}

.project-title {
    position: relative;
    display: block;
    padding: 1.25rem 1rem;
    font-size: 1.1rem;
    line-height: 1;
    text-decoration: none;
}

.project-title:hover {
    text-decoration: underline;
    background-color: #e6e6e6;
}

.project-content {
    display: none;
    height: 0;
    width: 100%;
    padding: 1rem;
    border-top: 1px solid #e6e6e6;
}

.is-active > div {
    display: block;
    height: 100%;
}

.project-content > div {
    display: flex;
}